<div id = "show-container">
  <%=link_to "back to all posts", root_path, :class => "label" %>
  <br>
  <h2 class ="show-post-title"><%= @post.title %></h2>
  <p class = "caption"><%= @post.content %></p>
<% if user_signed_in? %>
  <% if @user.id == current_user.id %>
    <%=link_to '-', user_post_path(@user, @post), :method => 'delete', :class => "delete-button"%>
  <% end %>
<% end %>

<h3 class = "comments-title">comments</h3>

<% if @comments.class == Comment::ActiveRecord_Relation %>
  <% @comments.each do |comment| %>
  <div>
    <% if user_signed_in? %>
      <% if comment.author === current_user.email%>
        <%=link_to 'x', post_comment_path(:id => comment.id, :post_id => @post.id, :user_id => @user.id), :method => 'delete', :class => "delete-button comment-delete"%>
      <% end %>
    <% end %>
    <p class ="comment-content"><strong><%=comment.author%>:</strong> <%=comment.content%></p>
  </div>
<% end %>
<% elsif @comments.class == Comment %>
  <div id = "comments">
    <% if user_signed_in? %>
      <% if comment.author === current_user.email%>
        <%=link_to 'x', post_comment_path(:id => comment.id, :post_id => @post.id, :user_id => @user.id), :method => 'delete', :class => "delete-button comment-delete"%>
      <% end %>
    <% end %>
    <p class ="comment-content"><%=comment.author%>: <%=comment.content%></p>
  </div>
<% else %>
  <p> this post has no comments! </p>
<% end %>

<% if user_signed_in? %>
<p class = "message"><%= link_to 'add a comment', new_post_comment_path(:post_id => @post.id, :user_id => @user.id)%></p>
<% else %>
<p class = "message">please log in to leave a comment</p>
<% end %>
</div>

</div>
